/***********************Custom Properties*******************/
:root {
  --first-color: #c70039;
  --first-alpha-color: rgba(199, 0, 57, 0.75);
  /* --second-color: #581845; */
  --second-color: #460e36;
  --second-alpha-color: rgba(88, 24, 69, 0.75);
  --third-color: #900c3f;
  --third-alpha-color: rgba(144, 12, 63, 0.75);
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  --link-color: #509ee3;
  --title-color: #333;
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --dark-mode: #210a1a;
}

/********************************************************/

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--first-color);
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  margin: 0;
}

@font-face {
  font-family: "Chalet";
  src: url(../fonts/Chalet.eot);
  src: url(../fonts/Chalet.eot) format("embedded-opentype"),
    url(../fonts/Chalet.woff) format("woff"),
    url(../fonts/Chalet.ttf) format("truetype"),
    url(../fonts/Chalet.svg) format("svg");
}

a {
  color: var(--link-color);
  text-decoration: none;
}

/* a:hover {
  opacity: 0.6;
} */

body {
  font-family: "Chalet", Helvetica, Verdana;
  font-size: 1rem;
  margin-top: 4rem;
}

form div {
  margin: 0.5rem;
}

input[type="checbox"],
input[type="radio"],
select {
  background-color: var(--gray-color);
  cursor: pointer;
}

input[type="date"],
input[type="number"],
input[type="email"],
input[type="text"] {
  background-color: var(--white-alpha-color);
  border-radius: 0.25rem;
  color: var(--first-color);
  font-size: 1rem;
  padding: 0.25rem;
}

input[type="date"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="text"]:focus {
  background-color: var(--gray-color);
}

input[type="email"]:disabled {
  background-color: transparent;
  color: var(--first-color);
}

input[type="file"] {
  cursor: pointer;
  opacity: 0;
  /* width: 150px; */
}

input[type="submit"] {
  background-color: var(--second-color);
  border-radius: 0.35rem;
  color: var(--white-color);
  font-family: "Chalet";
  font-size: 1rem;
  padding: 0.5rem;
}

input[type="submit"]:hover {
  background-color: var(--first-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out 0s;
}

label {
  cursor: pointer;
}

table {
  border: 0.1rem solid var(--third-color);
  border-radius: 1rem;
  cursor: default;
  font-family: Helvetica, Verdana;
  font-size: 0.95rem;
  padding: 0.25rem;
  width: 100%;
}

table td {
  color: var(--white-color);
  border: 0.1em solid #212121;
  border-radius: 0.5em;
  word-wrap: break-word;
  text-align: center;
}

table tr {
  background: var(--third-alpha-color);
}

table thead tr {
  background: transparent;
}

table tr:nth-child(even) {
  background: var(--first-alpha-color);
}

ul {
  list-style: none;
}

#contenido {
  margin: 0 auto;
  text-align: center;
}

.adjuntar-archivo {
  width: 10px;
  background: var(--gray-dark-color) url(../img/boton-buscar.svg) no-repeat 100% -2px;
  border: thin solid var(--first-color);
  display: inline;
  text-align: right;
  margin-top: 1rem;
  cursor: pointer;
}
.adjuntar-archivo:hover {
  /* background: var(--gray-light-color) url(../img/boton-buscar.svg) no-repeat 90% -2px; */
  background: var(--gray-light-color) url(../img/boton-buscar.svg) no-repeat 0% -2px;
  cursor: pointer;
}

.cambio {
  transition: all 0.3s ease-in-out 0s;
}

.dark-mode-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  left: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--second-color);
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.dark-mode-btn:hover {
  background-color: var(--second-color);
  color: var(--first-color);
}

.dark-mode {
  /* background-color: var(--second-color); */
  background-color: var(--dark-mode);
  color: var(--first-color);
  /* transition: all 0.2s ease-in-out 0s; */
}

.field {
  border: 0.1rem solid var(--first-color);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0 auto;
  max-width: 85%;
}

.mensajes {
  background-color: yellow;
  border-radius: 0.5rem;
  color: var(--black-color);
  font-family: Helvetica Verdana;
  font-size: 1rem;
  padding: 0.5rem;
}

.table-img {
  max-width: 20%;
}

/***********************Nav Menu***********************/

.nav-menu {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed;
  top: -0.5rem;
  background-color: var(--second-color);
  transition: opacity 0.9s ease;
}

.nav-menu a {
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
}

.nav-menu a:hover {
  color: var(--white-color);
  /* background-color: var(--first-color); */
  transition: all 0.3s ease-in-out 0s;
}
